---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: maven-pvc
  namespace: '{{ cicd_project }}'
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
  storageClassName: gp2
  volumeMode: Filesystem
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: shared-workspace-pvc
  namespace: '{{ cicd_project }}'
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp2
  volumeMode: Filesystem
