apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: hdf
  namespace: openshift-gitops
spec:
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  destinations:
    - namespace: '{{ main_project }}'
      server: '*'
  sourceRepos:
    - '*'
