apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hdf-{{ item }}
  namespace: openshift-gitops
spec:
  destination:
    name: ''
    namespace: '{{ main_project }}'
    server: 'https://kubernetes.default.svc'
  source:
    path: '{{ item }}'
    repoURL: '{{ hdf_gitops_git }}'
    targetRevision: main
  project: hdf
