apiVersion: v1
kind: Secret
metadata:
  name: asana-secret
  namespace: '{{ demo_project }}'
stringData:
  ASANA_PAT: '{{ asana_pat }}'
  ASANA_WORKSPACE_GID: '{{ asana_workspace_gid }}'
  ASANA_PROJECT_GID: '{{ asana_project_gid }}'
  ASANA_FIELD_OPPORTUNITY: '{{ asana_field_opportunity }}'
  ASANA_FIELD_CUSTOMER: '{{ asana_field_customer }}'
  ASANA_FIELD_BOOKING: '{{ asana_field_booking }}' 
type: Opaque
