apiVersion: v1
kind: Secret
metadata:
  name: salesforce-secret
  namespace: '{{ demo_project }}'
stringData:
  SF_CLIENT_ID: '{{ sf_client_id }}'
  SF_CLIENT_SECRET: '{{ sf_client_secret }}'
  SF_USERNAME: '{{ sf_username }}'
  SF_PASSWORD: '{{ sf_password }}'
  SF_INSTANCE: 'https://{{ sf_instance }}'
type: Opaque
